body {
    background-color: gainsboro;
    height: 100vh;
    display: grid;
    grid-template-columns: 156px 4fr 1fr;
    grid-template-rows: 1fr 65vh 3fr;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

#contentDiv {
    margin-right: 10vw;
    margin-left: 10vw;
    grid-column: 2/3;
    grid-row: 2/3;
    
}